PORT=3000
JWT_ACCESS_SECRET=JWT_EXAMPLE
DATABASE_URL="mysql://USER:PASSWORD@localhost:3306/proyectodaw"
MESSAGE_API_BASE_URL=https://message.testmotorflash.com
MESSAGE_API_USERNAME=Usuario
MESSAGE_API_PASSWORD=Contraseña
MESSAGE_API_FROM=+34telefono
WEBHOOK_SECRET=TOkenSuperSecreto