PORT=3000
JWT_ACCESS_SECRET=Pweb4923P
DATABASE_URL="mysql://root:root@localhost:3306/proyectodaw"
MESSAGE_API_BASE_URL=https://message.motorflash.com
MESSAGE_API_USERNAME=whanmodemo@motorflash.com
MESSAGE_API_PASSWORD=whanmodemo
MESSAGE_API_FROM=+34910788309
WEBHOOK_SECRET=tokensupersecretoWebhookproviderTest456773
CORS_ORIGIN=http://localhost:5173